.formField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  width: 100%;
}

.textField {
  width: 100%;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
