@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto+Condensed&family=Source+Sans+Pro:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.message {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 42px;
  line-height: 25px;
  color: #3f3f3f;
}

.message__text {
  padding-top: 35px;
}
